<h1> About Us </h1>
<br/>
<h3>
    Use facts, not hype.
    <br/>
    Inspire trust by providing useful info.
    <br/>
    Tell visitors what they want to know.
    <br/>
    Specifics are better than bold claims.
    <br/>
    Allow a peek behind the curtains.
    <br/>
    Be empathetic to build a connection.
    <br/>
    Express your values and beliefs.
    <br/>
    List credentials, certifications, awards.
    <br/>
    Include a photo of you “in action.”
    <br/>
    Be interesting!
    <br/>

    <a href= "{% url 'homepage'%}">Back Home</a>

</h3>